.container3 {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA00;
}

.container3:hover .overlay {
  opacity: 1;
}

.text {
    color: #000000;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 31px;
    position: absolute;
    top: 87%;
    left: 53%;
    /* -webkit-transform: translate(-50%, -50%); */
    /* -ms-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
    text-align: center;
    width: 300px;
}

.text2 {
    color: black;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 22px;
    position: absolute;
    top: 99%;
    left: 196%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
}

.text3 {
    color: #000000;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 31px;
    position: absolute;
    top: 87%;
    left: -63%;
    /* -webkit-transform: translate(-50%, -50%); */
    /* -ms-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
    text-align: center;
    width: 300px;
}

.text4 {
    color: black;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 22px;
    position: absolute;
    top: 96%;
    left: 5%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
}

.livestream {
    position: relative;
    position: fixed;
    top: 78px;
    right: 42px;
    z-index: 20;
    background-color: #ffffff00;
    padding: 4px;
    display: none;
}

.button {
        position: fixed;
    top: 120px;
    right: -67px;
    z-index: 20;
    background: #e2948d80;
    transform: rotate(270deg);
}

.button-modal {
    position: fixed;
    top: 120px;
    right: -65px;
    z-index: 20;
    background: #ffffff66;
    transform: rotate(270deg);
}

.verticalhorizontal {
position: fixed;
    top: 40%;
    left: 40%;
    /* background: rgba(0, 0, 0, 0.2); */
    /* z-index: 99999; */
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

#modal {
    position: fixed;  
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 99999;
    height: 100%;
    width: 100%;
}
.modalconent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff89;
    width: 50%;
    padding: 20px;
}