.livestream {
    position: relative;
    position: fixed;
    top: 78px;
    right: 42px;
    z-index: 20;
    background-color: white;
    padding: 4px;
    display: none;
}
.button {
    position: fixed;
    top: 120px;
    right: -45px;
    z-index: 20;
    background: white;
    transform: rotate(270deg);
}