* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column3 {
  float: left;
  width: 50%;
  padding: 0px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.roww {
    width: 490px!important;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .0001)));
    background-repeat: repeat-x;
}

.carousel-control.left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .0001)));
    background-repeat: repeat-x;
}


.center-car {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.carousel-inner>.item {
    background-color: rgb(0, 0, 0, 0) !important;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out, -o-transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.carousel-inner>.item.active,
.carousel-inner>.item.next.left,
.carousel-inner>.item.prev.right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
    background-color: rgb(0, 0, 0, 0);
}

.carousel-inner>.item {
    background-color: rgb(0, 0, 0, 0);
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out, -o-transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.container3 {
    position: relative;
    width: 50%;
}


.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA00;
}

.container3:hover .overlay {
    opacity: 1;
}

.text {
    line-height: 26px;

    color: #000000;
    font-family: 'Belleza', sans-serif;
    font-size: 26px;
    text-align: left!important;
    position: absolute;
    top: 87%;
    left: 53%;
    text-align: center;
    width: 400px;
}

.text2 {
    color: black;
    font-size: 22px;
    font-family: 'Belleza', sans-serif;
    position: absolute;
    top: 99%;
    left: 205%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
}

.text6 {
    color: black;
    font-size: 22px;
    font-family: 'Belleza', sans-serif;
    position: absolute;
    top: 111%;
    left: 235%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
}

.text3 {
        line-height: 26px;

    color: #000000;
    font-size: 26px;
    font-family: 'Belleza', sans-serif;
    text-align: left !important;
    position: absolute;
    top: 87%;
    left: -63%;
    text-align: center;
    width: 400px;
}

.text4 {
    color: black;
    font-family: 'Belleza', sans-serif;
    font-size: 22px;
    position: absolute;
    top: 96%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
}
.text5 {
    color: black;
    font-family: 'Belleza', sans-serif;
    font-size: 22px;
    position: absolute;
    top: 105%;
    left: 90%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
}

.livestream {
    position: relative;
    position: fixed;
    top: 78px;
    right: 42px;
    z-index: 20;
    background-color: #ffffff00;
    padding: 4px;
    display: none;
}

.button {
    position: fixed;
    top: 120px;
    right: -67px;
    z-index: 20;
    background: #e2948d80;
    transform: rotate(270deg);
}

#button-modal {
    font-size: 20px;
    margin-left: 20px;
}

.verticalhorizontal {
    position: fixed;
    top: 43%;
    left: 43%;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.right-corner {
    position: fixed;
    bottom: -3%;
    right: -1%;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

#modal {
    position: fixed;
    max-height: 100%;
overflow-y: auto;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 99999;
    height: 100%;
    width: 100%;
}

#modal h1, code, blockquote {
    font-family: 'Belleza', sans-serif!important;
    font-size: 22px!important;
    text-align: left!important;
    line-height: 120px!important;
    letter-spacing: 0.5px!important;
    margin-top: -60px!important;
    margin-bottom: 0px!important;
    margin-left: 20px!important;
    width: 500px!important;
}

.modalcontent {
    position: absolute;
    top: 85%!important;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffffBF;
    width: 50%;
    padding: 20px;
    max-width: 700px;
}

.modalcontent p {
    margin: auto;
}

::selection {
    background: #e2948d80;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #e2948d80;
    /* Gecko Browsers */
}

.translate {
    display: flex;
    flex-direction: row-reverse;
    border: 5px black;
}

sup {
    font-size: 10px;
}

.background-text {
    position: absolute;
    font-size: 22px !important;
    line-height: 45px !important;
    color:rgba(0, 0, 0, 0.3) !important;
    top: 7%;
    left: 2%;
    transform: rotate(0deg);
    width: 70% !important;
    height: 100vh;
    z-index: -2 !important;
}

.social {
    padding: 20px;
    font-size: 30px !important;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: black !important;
  }